ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
  }
.button {
    background-color: red;
    float:left;
    padding: 10px;
}
.button2 {
    background-color: green;
    float:left;
    padding: 10px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
footer {
    position: sticky;
}